{% schema %}
{
  "name": "New Bar",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#1f3330"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "announcement_item",
      "name": "Announcement Item",
      "settings": [
        {
          "type": "textarea",
          "id": "icon_svg",
          "label": "SVG Icon",
          "info": "Paste your SVG code here"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Free Domestic Shipping"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "New Bar",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="announcement-bar announcement-bar-{{ section.id }}" style="background: {{ section.settings.background_color }}; color: {{ section.settings.text_color }};">
  <div class="announcement-swiper-{{ section.id }} swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="announcement-item">
            {% if block.settings.icon_svg != blank %}
              <span class="icon">{{ block.settings.icon_svg }}</span>
            {% endif %}
            <span class="text">{{ block.settings.text }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
.announcement-bar-{{ section.id }} {
  width: 100%;
  font-size: 14px;
  height: 42px;
  overflow: hidden;
}

.announcement-bar-{{ section.id }} .announcement-item {
  display: flex;
  align-items: center;
  gap: 8px;

}

.announcement-bar-{{ section.id }} .icon svg {
  width: 18px;
  height: 18px;
  display: block;
  flex-shrink: 0;
  fill: currentColor;
}

.announcement-swiper-{{ section.id }} {
  overflow: hidden;
}

.announcement-bar-{{ section.id }} .swiper-slide {
  width: auto !important;  

}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let swiper = new Swiper(".announcement-swiper-{{ section.id }}", {
      slidesPerView: "auto",
      spaceBetween: 30,      
      loop: true,
      autoplay: {
        delay: 0,            
        disableOnInteraction: false,
      },
      speed: 4000,           
      freeMode: true,     
      freeModeMomentum: false,
      allowTouchMove: false
    });

    const bar = document.querySelector(".announcement-swiper-{{ section.id }}");

  bar.addEventListener("mouseenter", () => {
    swiper.autoplay.stop();
  });

  bar.addEventListener("mouseleave", () => {
    swiper.autoplay.start();
  });


  });
</script>
