<style>
.product-reviews-section {
  text-align: center;
  padding:10px;
}

.product-reviews-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}


.review-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-height: 250px;
  width:100%;

  background-color:#FFF9F6;

}

.review-text {
  font-size: 15px;
 font-family: 'Montserrat', sans-serif;
  color: #333;
  margin-bottom: 20px;
}



.sign-img-wrap{

  display:flex;
  justify-content:row;
  align-items:center;

}

.review-image img {
  width: 80px;
  height: 130px;
}

.review-author {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}

.review-role {
  font-family: 'Brittany Signature', cursive;
  font-size: 16px;
  color: #000;
}

 .product-reviews-{{ section.id }} .swiper-wrapper {
  pointer-events: none;
} 


.product-reviews-{{ section.id }} .swiper-slide {
  position: relative;
  margin-bottom:60px;
}


.product-reviews-{{ section.id }} .swiper-button-prev,
.product-reviews-{{ section.id }} .swiper-button-next {
display:none;            

}





@media screen and (max-width:768px){

  .product-reviews-{{ section.id }} .swiper-button-prev,
  .product-reviews-{{ section.id }} .swiper-button-next {
    display: block;
    position:absolute;
    top:95%
  }
 .product-reviews-{{ section.id }} .swiper-button-prev {
  left: 44%;  
}
.product-reviews-{{ section.id }} .swiper-button-next {
  right: 44%; 
}
}

@media screen and (max-width:500px){

  .product-reviews-{{ section.id }} .swiper-button-prev,
  .product-reviews-{{ section.id }} .swiper-button-next {
    display: block;
    position:absolute;
    top:95%
  }
 .product-reviews-{{ section.id }} .swiper-button-prev {
  left: 42%;  
}
.product-reviews-{{ section.id }} .swiper-button-next {
  right: 42%; 
}
}

@media screen and (max-width:400px){

  .product-reviews-{{ section.id }} .swiper-button-prev,
  .product-reviews-{{ section.id }} .swiper-button-next {
    display: block;
    position:absolute;
    top:95%
  }
 .product-reviews-{{ section.id }} .swiper-button-prev {
  left: 40%;  
}
.product-reviews-{{ section.id }} .swiper-button-next {
  right: 40%; 
}
}
</style>



<section class="product-reviews-section product-reviews-{{ section.id }}">
  <h2>{{ section.settings.heading }}</h2>
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="review-card">
            <div class="review-text">“{{ block.settings.review_text }}”</div>
            <div class="sign-img-wrap">
              <div class="review-image">
                {% if block.settings.img_icon != blank %}
                  {{ block.settings.img_icon | image_url: width: 100 | image_tag: alt: block.settings.author_name }}
                {% endif %}
              </div>
              <div class="text-wraps">
                <div class="review-author">{{ block.settings.author_name }}</div>
                <div class="review-role">{{ block.settings.author_role }}</div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
          <div class="swiper-button-prev">{% render 'testimonial-nav-left' %}</div>
    <div class="swiper-button-next">{% render 'testimonial-nav-right' %}</div>
  </div>

</section>


<script> 

  document.addEventListener("DOMContentLoaded", function () {
  new Swiper(".product-reviews-{{ section.id }} .swiper", {
    slidesPerView: 1.5,
    loop: true,
    spaceBetween: 20,
    speed: 5000,

    autoplay: {
      delay: 0,
      disableOnInteraction: false,
    },

    navigation: {
      nextEl: ".product-reviews-{{ section.id }} .swiper-button-next",
      prevEl: ".product-reviews-{{ section.id }} .swiper-button-prev",
    },

    breakpoints: {
      0: {
        slidesPerView: 1,
        autoplay: false, 
      },
      768: {
        slidesPerView: 1.5,
        autoplay: false, 
      },
      1024: {
        slidesPerView: 3,
        autoplay: {
          delay: 0,
          disableOnInteraction: false,
        }, 
      },
    },
  });
});


</script>



{% schema %}
{
  "name": "Product Reviews",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Product Reviews"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review Text",
          "default": "This product gave my skin a wonderful golden glow!"
        },
       {
          "type":"image_picker",
          "id": "img_icon",
          "label": "Img background"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Reviewer Name",
          "default": "Kanika Kapoor"
        },
        {
          "type": "text",
          "id": "author_role",
          "label": "Reviewer Role / Title",
          "default": "Singer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Reviews",
      "blocks": [
        { "type": "review" },
        { "type": "review" },
        { "type": "review" }
      ]
    }
  ]
}
{% endschema %}
